/var/
/vendor/
.idea
.phpunit
.phpunit.result.cache
.env
.env.test
composer.lock
symfony.lock

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
clover.xml
###< phpunit/phpunit ###
